DeepResearch工作流-调研论文.yml
app:
  description: 自定义DeepResearch工作流
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: DeepResearch工作流-调研论文
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/firecrawl:0.0.3@02f037a6e82c44103d3604456f8e57b5516464183344f32d74eec3f82d6036b0
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/google:0.0.9@d360bbc433f39be1b11909cb9c32e6be4a17ea06af083f9e1c7613bb802bf517
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/email:0.0.7@6c3856490275f3440619fabfdc54f3bd29bad8959e29996452277b9c3b0c5e9b
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1740555014461-source-1740560698316-target
      selected: false
      source: '1740555014461'
      sourceHandle: source
      target: '1740560698316'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1740560698316-source-1740555761914-target
      selected: false
      source: '1740560698316'
      sourceHandle: source
      target: '1740555761914'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1740555761914'
        sourceType: iteration-start
        targetType: code
      id: 1740555761914start-source-1740562071428-target
      selected: false
      source: 1740555761914start
      sourceHandle: source
      target: '1740562071428'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740553971286-source-1740555014461-target
      selected: false
      source: '1740553971286'
      sourceHandle: source
      target: '1740555014461'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 1740555761914-source-1740621946310-target
      selected: false
      source: '1740555761914'
      sourceHandle: source
      target: '1740621946310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1740621946310-source-1740624644206-target
      selected: false
      source: '1740621946310'
      sourceHandle: source
      target: '1740624644206'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: parameter-extractor
      id: 1740624644206-source-1740639231077-target
      selected: false
      source: '1740624644206'
      sourceHandle: source
      target: '1740639231077'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: parameter-extractor
        targetType: iteration
      id: 1740639231077-source-1740639906013-target
      selected: false
      source: '1740639231077'
      sourceHandle: source
      target: '1740639906013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1740639906013'
        sourceType: iteration-start
        targetType: llm
      id: 1740639906013start-source-1740639912987-target
      selected: false
      source: 1740639906013start
      sourceHandle: source
      target: '1740639912987'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1740555761914'
        sourceType: code
        targetType: tool
      id: 1740562071428-source-1740644905633-target
      selected: false
      source: '1740562071428'
      sourceHandle: source
      target: '1740644905633'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1740555761914'
        sourceType: tool
        targetType: llm
      id: 1740644905633-source-1740560444882-target
      selected: false
      source: '1740644905633'
      sourceHandle: source
      target: '1740560444882'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: tool
        targetType: end
      id: 1740729306792-source-1740563225494-target
      selected: false
      source: '1740729306792'
      sourceHandle: source
      target: '1740563225494'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 1740639906013-source-1741751236287-target
      source: '1740639906013'
      sourceHandle: source
      target: '1741751236287'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: tool
      id: 1741751236287-source-1740729306792-target
      source: '1741751236287'
      sourceHandle: source
      target: '1740729306792'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: 需求
          max_length: 2048
          options: []
          required: true
          type: paragraph
          variable: target
      height: 90
      id: '1740553971286'
      position:
        x: 954.9750454517987
        y: 476.2488576060879
      positionAbsolute:
        x: 954.9750454517987
        y: 476.2488576060879
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: google
        provider_name: google
        provider_type: builtin
        selected: false
        title: 谷歌搜索
        tool_configurations: {}
        tool_label: 谷歌搜索
        tool_name: google_search
        tool_parameters:
          query:
            type: mixed
            value: '{{#1740553971286.target#}}'
        type: tool
      height: 54
      id: '1740555014461'
      position:
        x: 1288.0042194888022
        y: 470.1338427700771
      positionAbsolute:
        x: 1288.0042194888022
        y: 470.1338427700771
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 600
        is_parallel: true
        iterator_selector:
        - '1740560698316'
        - result
        output_selector:
        - '1740560444882'
        - text
        output_type: array[string]
        parallel_nums: 5
        selected: false
        start_node_id: 1740555761914start
        title: 迭代
        type: iteration
        width: 1921.3420593755354
      height: 600
      id: '1740555761914'
      position:
        x: 1276.2016784763077
        y: 797.8439524126236
      positionAbsolute:
        x: 1276.2016784763077
        y: 797.8439524126236
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 1921
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1740555761914start
      parentId: '1740555761914'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1300.2016784763077
        y: 865.8439524126236
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1740555761914'
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 5a942f45-a292-4baf-9af2-3aedb3ce85f4
          role: system
          text: 只输出用户需要的内容，不要添加额外的说明
        - id: 46f53af0-5958-4638-b0d4-80f16fc10474
          role: user
          text: '{{#1740644905633.text#}}

            基于上述文本总结与{{#1740553971286.target#}}相关的核心内容，如果与{{#1740553971286.target#}}无关则输出空字符串'
        selected: true
        title: LLM 1
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1740560444882'
      parentId: '1740555761914'
      position:
        x: 1494.3420593755354
        y: 65
      positionAbsolute:
        x: 2770.543737851843
        y: 862.8439524126236
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        code: "\ndef main(json: list) -> dict:\n    return {\n        \"result\":\
          \ json[0]['organic_results']\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: array[object]
        selected: false
        title: 代码执行
        type: code
        variables:
        - value_selector:
          - '1740555014461'
          - json
          variable: json
      height: 54
      id: '1740560698316'
      position:
        x: 1664.5771545813113
        y: 470.1338427700771
      positionAbsolute:
        x: 1664.5771545813113
        y: 470.1338427700771
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(i: int, arr: str) -> dict:\n    import json\n    \n    return\
          \ {\n        \"link\": str(arr[int(i)]['link'])\n    }\n"
        code_language: python3
        desc: ''
        isInIteration: true
        iteration_id: '1740555761914'
        outputs:
          link:
            children: null
            type: string
        selected: false
        title: 代码执行 1
        type: code
        variables:
        - value_selector:
          - '1740555761914'
          - index
          variable: i
        - value_selector:
          - '1740560698316'
          - result
          variable: arr
      height: 54
      id: '1740562071428'
      parentId: '1740555761914'
      position:
        x: 268
        y: 65
      positionAbsolute:
        x: 1544.2016784763077
        y: 862.8439524126236
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740639906013'
          - output
          variable: output
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1740563225494'
      position:
        x: 4881.595078431583
        y: 476.2488576060879
      positionAbsolute:
        x: 4881.595078431583
        y: 476.2488576060879
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: list) -> dict:\n    result = \"\"\n    for i in arg1:\n\
          \        result += i;\n    return {\n        \"result\": result\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 3
        type: code
        variables:
        - value_selector:
          - '1740555761914'
          - output
          variable: arg1
      height: 54
      id: '1740621946310'
      position:
        x: 2924.3195079107727
        y: 500
      positionAbsolute:
        x: 2924.3195079107727
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1740621946310'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.4
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: db0838d3-d46f-403a-9dc3-0b60976b6fd2
          role: system
          text: '这是参考资料

            {{#1740621946310.result#}}

            这是用户的原始问题

            {{#1740553971286.target#}}'
        - edition_type: basic
          id: 6804b504-2794-4528-bc99-9ae54d1400f8
          role: user
          text: '基于参考资料，列出一份主题为{{#1740553971286.target#}}的综述大纲，结构如下

            #每一章节标题'
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1740624644206'
      position:
        x: 3227
        y: 500
      positionAbsolute:
        x: 3227
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        instruction: 根据此处提供的大纲，提取每一章节的标题，放在字符串数组中
        model:
          completion_params:
            temperature: 0
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        parameters:
        - description: 章节标题集合
          name: subtitles
          required: false
          type: array[string]
        query:
        - '1740624644206'
        - text
        reasoning_mode: prompt
        selected: false
        title: 参数提取器
        type: parameter-extractor
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1740639231077'
      position:
        x: 3532.3195079107727
        y: 500
      positionAbsolute:
        x: 3532.3195079107727
        y: 500
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 218
        is_parallel: false
        iterator_selector:
        - '1740639231077'
        - subtitles
        output_selector:
        - '1740639912987'
        - text
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1740639906013start
        title: 迭代 2
        type: iteration
        width: 996
      height: 218
      id: '1740639906013'
      position:
        x: 3438.028943136968
        y: 776.8350791281674
      positionAbsolute:
        x: 3438.028943136968
        y: 776.8350791281674
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 996
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1740639906013start
      parentId: '1740639906013'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 3462.028943136968
        y: 844.8350791281674
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        isInIteration: true
        iteration_id: '1740639906013'
        model:
          completion_params:
            temperature: 0.8
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: ef9f54fb-daea-4e27-9fc0-354309558915
          role: system
          text: '这是参考资料

            {{#1740621946310.result#}}

            这是综述大纲

            {{#1740624644206.text#}}

            请你根据上述资料完成{{#1740639906013.item#}}章节内容的撰写'
        selected: false
        title: LLM 4
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1740639912987'
      parentId: '1740639906013'
      position:
        x: 188.93853943072872
        y: 66.75635633814841
      positionAbsolute:
        x: 3626.9674825676966
        y: 843.5914354663158
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        is_team_authorization: true
        iteration_id: '1740555761914'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The URL of the website to scrape and extract data from.
            ja_JP: The URL of the website to scrape and extract data from.
            pt_BR: The URL of the website to scrape and extract data from.
            zh_Hans: 要抓取并提取数据的网站URL。
          label:
            en_US: URL to scrape
            ja_JP: URL to scrape
            pt_BR: URL to scrape
            zh_Hans: 要抓取的URL
          llm_description: The URL of the website that needs to be crawled. This is
            a required parameter.
          max: null
          min: null
          name: url
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Formats to include in the output. Available options: markdown,
              html, rawHtml, links, screenshot, extract, screenshot@fullPage'
            ja_JP: 'Formats to include in the output. Available options: markdown,
              html, rawHtml, links, screenshot, extract, screenshot@fullPage'
            pt_BR: 'Formats to include in the output. Available options: markdown,
              html, rawHtml, links, screenshot, extract, screenshot@fullPage'
            zh_Hans: '输出中应包含的格式。可以填入: markdown, html, rawHtml, links, screenshot,
              extract, screenshot@fullPage'
          label:
            en_US: Formats
            ja_JP: Formats
            pt_BR: Formats
            zh_Hans: 结果的格式
          llm_description: ''
          max: null
          min: null
          name: formats
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Only return the main content of the page excluding headers, navs,
              footers, etc.
            ja_JP: Only return the main content of the page excluding headers, navs,
              footers, etc.
            pt_BR: Only return the main content of the page excluding headers, navs,
              footers, etc.
            zh_Hans: 只返回页面的主要内容，不包括头部、导航栏、尾部等。
          label:
            en_US: only Main Content
            ja_JP: only Main Content
            pt_BR: only Main Content
            zh_Hans: 仅抓取主要内容
          llm_description: ''
          max: null
          min: null
          name: onlyMainContent
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Only include tags, classes and ids from the page in the final
              output. Use comma separated values. Example: script, .ad, #footer'
            ja_JP: 'Only include tags, classes and ids from the page in the final
              output. Use comma separated values. Example: script, .ad, #footer'
            pt_BR: 'Only include tags, classes and ids from the page in the final
              output. Use comma separated values. Example: script, .ad, #footer'
            zh_Hans: '仅在最终输出中包含HTML页面的这些标签，可以通过标签名、类或ID来设定，使用逗号分隔值。示例：script, .ad,
              #footer'
          label:
            en_US: Include Tags
            ja_JP: Include Tags
            pt_BR: Include Tags
            zh_Hans: 仅抓取这些标签
          llm_description: ''
          max: null
          min: null
          name: includeTags
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Tags, classes and ids to remove from the page. Use comma separated
              values. Example: script, .ad, #footer

              '
            ja_JP: 'Tags, classes and ids to remove from the page. Use comma separated
              values. Example: script, .ad, #footer

              '
            pt_BR: 'Tags, classes and ids to remove from the page. Use comma separated
              values. Example: script, .ad, #footer

              '
            zh_Hans: '要在最终输出中移除HTML页面的这些标签，可以通过标签名、类或ID来设定，使用逗号分隔值。示例：script, .ad,
              #footer

              '
          label:
            en_US: Exclude Tags
            ja_JP: Exclude Tags
            pt_BR: Exclude Tags
            zh_Hans: 要移除这些标签
          llm_description: ''
          max: null
          min: null
          name: excludeTags
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: 'Headers to send with the request. Can be used to send cookies,
              user-agent, etc. Example: {"cookies": "testcookies"}'
            ja_JP: 'Headers to send with the request. Can be used to send cookies,
              user-agent, etc. Example: {"cookies": "testcookies"}'
            pt_BR: 'Headers to send with the request. Can be used to send cookies,
              user-agent, etc. Example: {"cookies": "testcookies"}'
            zh_Hans: '随请求发送的头部。可以用来发送cookies、用户代理等。示例：{"cookies": "testcookies"}'
          label:
            en_US: headers
            ja_JP: headers
            pt_BR: headers
            zh_Hans: 请求头
          llm_description: ''
          max: null
          min: null
          name: headers
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Wait x amount of milliseconds for the page to load to fetch content.
            ja_JP: Wait x amount of milliseconds for the page to load to fetch content.
            pt_BR: Wait x amount of milliseconds for the page to load to fetch content.
            zh_Hans: 等待x毫秒以使页面加载并获取内容。
          label:
            en_US: wait For
            ja_JP: wait For
            pt_BR: wait For
            zh_Hans: 等待时间
          llm_description: ''
          max: null
          min: 0
          name: waitFor
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: 30000
          form: form
          human_description:
            en_US: Timeout in milliseconds for the request.
            ja_JP: Timeout in milliseconds for the request.
            pt_BR: Timeout in milliseconds for the request.
            zh_Hans: 请求的超时时间（以毫秒为单位）。
          label:
            en_US: Timeout
            ja_JP: Timeout
            pt_BR: Timeout
            zh_Hans: Timeout
          llm_description: ''
          max: null
          min: 0
          name: timeout
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: "The schema for the data to be extracted. Example: {\n    \"type\"\
              : \"object\",\n    \"properties\": {\"company_mission\": {\"type\":\
              \ \"string\"}},\n    \"required\": [\"company_mission\"]\n}\n"
            ja_JP: "The schema for the data to be extracted. Example: {\n    \"type\"\
              : \"object\",\n    \"properties\": {\"company_mission\": {\"type\":\
              \ \"string\"}},\n    \"required\": [\"company_mission\"]\n}\n"
            pt_BR: "The schema for the data to be extracted. Example: {\n    \"type\"\
              : \"object\",\n    \"properties\": {\"company_mission\": {\"type\":\
              \ \"string\"}},\n    \"required\": [\"company_mission\"]\n}\n"
            zh_Hans: "使用该结构去提取，示例：{\n     \"type\": \"object\",\n     \"properties\"\
              : {\"company_mission\": {\"type\": \"string\"}},\n     \"required\"\
              : [\"company_mission\"]\n }\n"
          label:
            en_US: Extractor Schema
            ja_JP: Extractor Schema
            pt_BR: Extractor Schema
            zh_Hans: 提取时的结构
          llm_description: ''
          max: null
          min: null
          name: schema
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The system prompt to use for the extraction.
            ja_JP: The system prompt to use for the extraction.
            pt_BR: The system prompt to use for the extraction.
            zh_Hans: 用于提取的系统提示。
          label:
            en_US: Extractor System Prompt
            ja_JP: Extractor System Prompt
            pt_BR: Extractor System Prompt
            zh_Hans: 提取时的系统提示词
          llm_description: ''
          max: null
          min: null
          name: systemPrompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: The prompt to use for the extraction without a schema.
            ja_JP: The prompt to use for the extraction without a schema.
            pt_BR: The prompt to use for the extraction without a schema.
            zh_Hans: 用于无schema时提取的提示词
          label:
            en_US: Extractor Prompt
            ja_JP: Extractor Prompt
            pt_BR: Extractor Prompt
            zh_Hans: 提取时的提示词
          llm_description: ''
          max: null
          min: null
          name: prompt
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          excludeTags: ''
          formats: ''
          headers: ''
          includeTags: ''
          onlyMainContent: ''
          prompt: ''
          schema: ''
          systemPrompt: ''
          timeout: ''
          url: ''
          waitFor: ''
        provider_id: langgenius/firecrawl/firecrawl
        provider_name: langgenius/firecrawl/firecrawl
        provider_type: builtin
        selected: false
        title: 单页面抓取
        tool_configurations:
          excludeTags: null
          formats: null
          headers: null
          includeTags: null
          onlyMainContent: 1
          prompt: null
          schema: null
          systemPrompt: null
          timeout: 30000
          waitFor: 5000
        tool_label: 单页面抓取
        tool_name: scrape
        tool_parameters:
          url:
            type: mixed
            value: '{{#1740562071428.link#}}'
        type: tool
      height: 324
      id: '1740644905633'
      parentId: '1740555761914'
      position:
        x: 876.0391537596465
        y: 65
      positionAbsolute:
        x: 2152.2408322359543
        y: 862.8439524126236
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Recipient email account
            ja_JP: Recipient email account
            pt_BR: Recipient email account
            zh_Hans: 收件人邮箱账号
          label:
            en_US: Recipient email account
            ja_JP: Recipient email account
            pt_BR: Recipient email account
            zh_Hans: 收件人邮箱账号
          llm_description: Recipient email account
          max: null
          min: null
          name: send_to
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: email subject
            ja_JP: email subject
            pt_BR: email subject
            zh_Hans: 邮件主题
          label:
            en_US: email subject
            ja_JP: email subject
            pt_BR: email subject
            zh_Hans: 邮件主题
          llm_description: email subject
          max: null
          min: null
          name: subject
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: email content
            ja_JP: email content
            pt_BR: email content
            zh_Hans: 邮件内容
          label:
            en_US: email content
            ja_JP: email content
            pt_BR: email content
            zh_Hans: 邮件内容
          llm_description: email content
          max: null
          min: null
          name: email_content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          email_content: ''
          send_to: ''
          subject: ''
        provider_id: langgenius/email/email
        provider_name: langgenius/email/email
        provider_type: builtin
        selected: false
        title: 发送邮件
        tool_configurations:
          convert_to_html: 0
        tool_label: 发送邮件
        tool_name: send_mail
        tool_parameters:
          email_content:
            type: mixed
            value: '{{#1741751236287.result#}}'
          send_to:
            type: mixed
            value: 151428109@qq.com
          subject:
            type: mixed
            value: '{{#1740553971286.target#}}'
        type: tool
      height: 90
      id: '1740729306792'
      position:
        x: 4529.349747521708
        y: 476.2488576060879
      positionAbsolute:
        x: 4529.349747521708
        y: 476.2488576060879
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: list) -> dict:\n    result = \"\"\n    for i in arg1:\n\
          \        result += i;\n    return {\n        \"result\": result\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行 4
        type: code
        variables:
        - value_selector:
          - '1740639906013'
          - output
          variable: arg1
      height: 54
      id: '1741751236287'
      position:
        x: 4181.104416611833
        y: 481.6208263200475
      positionAbsolute:
        x: 4181.104416611833
        y: 481.6208263200475
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -386.44497295730434
      y: 60.54078669061187
      zoom: 0.4352752816480624
